@import "../../../app/variables";

.hero {
  @include pageTopPadding;
  @include pageHero;

  display: flex;
  align-items: center;
  position: relative;
}

.bgImgWrapp {
  z-index: 0;
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  & img {
    @include imageFillProp;

    object-fit: cover;
    object-position: 65% 12px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-image: linear-gradient(rgba(0, 0, 0, 1) 3%,
    rgba(0, 0, 0, 0.45) 20%,
        rgba(0, 0, 0, 0.45) 80%,
        rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 1) 3%,
        rgba(0, 0, 0, 0.45) 20%,
        rgba(0, 0, 0, 0.45) 80%,
        rgba(0, 0, 0, 0) 100%);
  }
}

.container {
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;

  color: $textLightColor;
  text-shadow: $textShadow;
}

.title {
  font-size: 22px;
  white-space: pre-line;
  line-height: 1.25;
  margin-bottom: 36px;
  text-align: center;

  @media screen and (min-width: $tablet) {
    font-size: 28px;
    margin-bottom: 42px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 30px;
    margin-bottom: 28px;
  }
}

.text {
  font-size: 16px;
  white-space: pre-line;
  line-height: 1.5;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    font-size: 15px;
    line-height: 1.5;
    width: 60%;
    margin-bottom: 24px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 15px;
    line-height: 1.2;
    width: 55%;
    margin-bottom: 16px;
  }
}

.btn {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px !important;

  @media screen and (min-width: $tablet) {
    margin-top: 6px !important;
    margin-bottom: 12px;
    width: 300px;
    max-width: 300px;
    height: 50px;
    font-size: 17px;
  }

  @media screen and (min-width: $laptop) {
    margin-top: 6px !important;
    width: 320px;
    max-width: 320px;
    height: 48px;
    font-size: 17px;
  }
}

.priceBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-decoration: none;
  text-align: center;
  width: 100%;
  max-width: 452px;
  height: 53px;
  padding: 12px 14px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  border-radius: 100px;
  border: solid 1px $btnBgColor;
  color: $textLightColor;
  background-color: $btnBgColor;
  outline: none;
  cursor: pointer;
  text-shadow: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;

  &:hover, &:focus {
    background-color: $btnHoverBgColor;
    border-color: $btnHoverBgColor;
    color: $textDarkColor;
  }

  @media screen and (min-width: $tablet) {
    margin-top: 0;
    margin-bottom: 0;
    width: 300px;
    max-width: 300px;
    height: 50px;
    font-size: 17px;
  }

  @media screen and (min-width: $laptop) {
    margin-top: 0;
    margin-bottom: 0;
    width: 320px;
    max-width: 320px;
    height: 48px;
    font-size: 17px;
  }
}
