@import "../../../app/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  @media screen and (min-width: $tablet) {
    gap: 20px;
  }
}

.title {
  @include sectionTitle;
}

.subTitle {
  line-height: 1.4;
  color: $subTitleColor;
  text-align: justify;
  font-size: clamp(12px, 1vw + 8px, 24px);
  margin-bottom: 12px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  @media screen and (min-width: $tablet) {
    gap: 20px;
  }
  @media screen and (min-width: $laptop) {
    gap: 24px;
    flex-direction: row;
    align-items: stretch;
  }
}

.aboutList {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  gap: 12px;
  & li {
    display: flex;
    gap: 4px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
  }

  & svg {
    border-radius: 50%;
    width: 24px;
    min-width: 24px;
    height: 24px;
    stroke: $textLightColor;
    fill: none;
    background-color: $footerBgColor;
    padding: 4px;
  }
  @media screen and (min-width: $tablet) {
    & li {
      gap: 8px;
      font-size: 18px;
    }
    & svg {
      width: 48px;
      min-width: 48px;
      height: 48px;
      padding: 8px;
    }
  }

  @media screen and (min-width: $laptop) {
    flex: 1.2;
    justify-content: space-between;
    & li {
      gap: 20px;
      font-size: 20px;
    }
    & svg {
      width: 56px;
      min-width: 56px;

      height: 56px;
    }
  }
}

.imgWrapp {
  @include imgWrapper;

  width: 100%;
  aspect-ratio: 148/100;

  & img {
    object-position: 64% 0px;
  }

  @media screen and (min-width: $laptop) {
    flex: 1;
    aspect-ratio: auto;
  }
}
