@import "../../../app/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  @media screen and (min-width: $tablet) {
    gap: 20px;
  }
  @media screen and (min-width: $laptop) {
    gap: 24px;
  }
}

.title {
  @include sectionTitle;
}

.faqItem {
  border: 1px solid $btnBgColor;

  &:not(:last-child) {
    margin-bottom: 24px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 16px;
    }
  }
}

.faqTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  color: $textLightColor;
  background-color: $btnBgColor;
  padding: 12px 8px;

  font-size: 16px;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    gap: 24px;
    padding: 16px 24px;
    font-size: 22px;
  }
  @media screen and (min-width: $laptop) {
    padding: 24px 16px;
    font-size: 26px;
  }

  & svg {
    width: 24px;
    min-width: 24px;
    height: 24px;
    stroke: $textLightColor;
  }

  &:hover svg,
  &:focus svg {
    transform: rotate(90deg);
  }
}

.isOpenSvg {
  transform: rotate(90deg);
}

.isClosedSvg {
  transform: rotate(45deg);
}

.answerWrapp {
  interpolate-size: allow-keywords; //for chrome
  background-color: $cardBgColor;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
}

.isClosed {
  max-height: 0;
  padding: 0 8px;
  @media screen and (min-width: $tablet) {
    padding: 0 24px;
  }

  @media screen and (min-width: $laptop) {
    padding: 0px 20px;
  }
}

.isOpen {
  max-height: 300px;
  padding: 8px 8px;
  @media screen and (min-width: $tablet) {
    padding: 8px 24px;
  }
  @media screen and (min-width: $laptop) {
    padding: 24px 20px;
  }
}

.answer {
  font-size: 14px;
  line-height: 1.7;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
}
