@import "../../../app/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @media screen and (min-width: $tablet) {
    gap: 20px;
  }

  @media screen and (min-width: $laptop) {
    gap: 24px;
  }
}

.title {
  @include sectionTitle;
}

.faqItem {
  border-bottom: 1px solid $lineColor;

  &:first-child {
    border-top: 1px solid $lineColor;
  }
}

.faqTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  color: $textDarkColor;
  background-color: transparent;
  padding: 18px 4px;

  font-family: ukraineHeadRegular;
  font-size: 17px;
  line-height: 1.35;
  text-align: left;
  cursor: pointer;

  &:hover {
    color: $btnBgColor;
  }

  @media screen and (min-width: $tablet) {
    gap: 24px;
    padding: 22px 4px;
    font-size: 19px;
  }

  @media screen and (min-width: $laptop) {
    padding: 24px 4px;
    font-size: 21px;
  }

  & svg {
    width: 20px;
    min-width: 20px;
    height: 20px;
    stroke: $btnBgColor;
  }

  &:hover svg,
  &:focus svg {
    transform: rotate(90deg);
  }
}

.isOpenSvg {
  transform: rotate(90deg);
}

.isClosedSvg {
  transform: rotate(45deg);
}

.answerWrapp {
  interpolate-size: allow-keywords; //for chrome
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
}

.isClosed {
  max-height: 0;
  padding: 0 8px;

  @media screen and (min-width: $tablet) {
    padding: 0 24px;
  }

  @media screen and (min-width: $laptop) {
    padding: 0px 20px;
  }
}

.isOpen {
  max-height: 300px;
  padding: 8px 8px;

  @media screen and (min-width: $tablet) {
    padding: 8px 24px;
  }

  @media screen and (min-width: $laptop) {
    padding: 24px 20px;
  }
}

.answer {
  font-size: 14px;
  line-height: 1.7;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
}
