@import "../../../app/variables";

.headerTopWrapper {
  background-color: $secondary-600;
  @include sectionSidePadding;
}

.headerTop {
  height: 32px;
  color: $gray-0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;

  & svg {
    stroke: $gray-0;
    fill: none;

    width: 24px;
    height: 24px;
  }
}

.link {
  display: flex;
  align-items: center;
  & svg {
    margin-right: 12px;
  }
}

.socLinks {
  display: flex;
  gap: 12px;

  & svg {
  }
}

.viber,
.whatsapp {
  & svg {
    fill: $gray-0;
    stroke: none;
  }
}
