@import "../../../app/variables";

.headerTopWrapper {
  background-color: $footerBgColor;
  @include sectionSidePadding;
}

.headerTop {
  height: 32px;
  color: $textLightColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;

  & svg {
    stroke: $textLightColor;
    fill: none;

    width: 24px;
    height: 24px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
}

.link {
  display: none;
  align-items: center;
  & svg {
    margin-right: 12px;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.phone {
  display: flex;
  margin-left: auto;
  @media screen and (min-width: $tablet) {
    margin-left: 0;
  }
}

.socLinks {
  display: none;

  gap: 12px;
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.viber,
.whatsapp {
  & svg {
    fill: $textLightColor;
    stroke: none;
  }
}
