@import "../../app/variables";

.section {
    @include pageTopPadding;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media screen and (min-width: $tablet) {
        gap: 20px;
    }

    @media screen and (min-width: $laptop) {
        gap: 24px;
    }
}

.title {
    @include pageTitle;

    font-size: 22px;

    @media screen and (min-width: 324px) and (max-width:767px) {
        font-size: 24px;
    }
}

.mapWrapper {
    width: 100%;
}

.map {
    width: 100%;
    aspect-ratio: 280/108;
    border: none;

    @media screen and (min-width: $tablet) {
        aspect-ratio: 688/260;
    }

    @media screen and (min-width: $laptop) {
        width: 960px;
        height: 260px;
    }
}

.locationLink {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 400;
    font-size: 16px;

    @media screen and (min-width: $tablet) {
        gap: 12px;
        font-size: 20px;
    }
}

.icon {
    width: 24px;
    height: 24px;
    stroke: $alert-error;
    fill: $alert-error;
}