@import "../../app/variables";

.logowrapp {
  position: relative;
  width: 100px;
  height: 20px;
  cursor: pointer;

  & img {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  @media screen and (min-width: $tablet) {
    width: 136px;
    height: 24px;
  }

  @media screen and (min-width: $laptop) {
    width: 174px;
    height: 32px;
  }
}
