@import "./_variables";

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  padding: 0;
  margin: 0;
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  -o-transition-duration: 250ms;
}

*::before,
*::after {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  color: $textDarkColor;
  font-family: var(--font-ukraine-head-regular);
  font-style: normal;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: $background-color;
}

main {
  flex: 1;
}

header,
footer {
  font-family: var(--font-ukraine-regular);
}

section {
  @include sectionSidePadding;
  @include sectionTopBottomPadding;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;

  display: inline-block;
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
}

ul,
ol {
  list-style: none;
}

// :root {
//   --background: #ffffff;
//   --foreground: #171717;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

// html,
// body {
//   max-width: 100vw;
//   overflow-x: hidden;
// }

// body {
//   color: var(--foreground);
//   background: var(--background);
//   font-family: Arial, Helvetica, sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// * {
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
// }

// a {
//   color: inherit;
//   text-decoration: none;
// }

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }

// :root {
//   --background: #ffffff;
//   --foreground: #171717;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

// html,
// body {
//   max-width: 100vw;
// }

// body {
//   // color: var(--foreground);
//   // background: var(--background);
//   // font-family: Arial, Helvetica, sans-serif;

//   // have a question about fonts here and in layout in body
//   font-family: var(--font-ukraine-regular);
//   // -webkit-font-smoothing: antialiased;
//   // -moz-osx-font-smoothing: grayscale;
// }
