@import "../../../app/variables";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
}

.title {
    @include sectionTitle;

    text-align: center;
    line-height: 1.3;
}