@import "../../../app/variables";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;

    @media screen and (min-width: $tablet) {
        row-gap: 20px;
    }

    @media screen and (min-width: $laptop) {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 24px;
    }
}

.title {
    @include sectionTitle;
}

.certificatesWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    @media screen and (min-width: $tablet) {
        flex-direction: row;
        justify-content: center;
        row-gap: 0px;
        column-gap: 20px;
    }

    @media screen and (min-width: $laptop) {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 24px;
    }
}

.certWrap {
    position: relative;
    // width: 100%;
    width: 87.5vw;
    height: 65.625vw;

    @media screen and (min-width: $tablet) {
        // width: calc((100vw - 100px) / 2);
        width: 43.48vw;
        height: 32.71vw;
    }

    @media screen and (min-width: $laptop) {
        width: 468px;
        height: 352px;
    }
}

.certificate {
    object-fit: cover;
}

.btnWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;

    @media screen and (min-width: $tablet) {
        flex-direction: row;
        justify-content: center;
        row-gap: 0px;
        column-gap: 20px;
    }

    @media screen and (min-width: $laptop) {
        display: flex;
        align-items: center;
        column-gap: 24px;
    }
}

.detailsBtn {
    border: solid 1px $btnBgColor;
    background-color: transparent;
    color: $textDarkColor;

    &:hover,
    &:focus {
        background-color: $btnBgColor;
        color: $textLightColor;
    }
}