@import "../../../app/variables";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
}

.title {
    @include sectionTitle;
}

.certificatesWrapper {
    width: 100%;
    display: flex;
    column-gap: 24px;
}

.btnWrapper {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.detailsBtn {
    outline: solid 1px $btnBgColor;
    color: $textDarkColor;
    background-color: transparent;

    &:hover,
    &:focus {
        background-color: $btnBgColor;
        color: $textLightColor;
    }
}