@import "../../app/variables";

.header {
  position: fixed;
  width: 100%;
  max-width: inherit;
  z-index: 100;
}

.hidden {
  transform: translateY(-100%);
}

.visible {
  transform: translateY(0%);
}
