@import "../../app/variables";

.footer {
  background-color: $footerBgColor;

  @include sectionSidePadding;
  @include sectionTopBottomPadding;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  color: $textLightColor;
  font-size: 16px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    align-items: normal;
  }
  @media screen and (min-width: $laptop) {
    font-size: 20px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;

  & svg {
    stroke: $textLightColor;
    fill: none;

    width: 24px;
    height: 24px;
  }
}

.socMedia {
  flex-direction: row;

  & span {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    flex-direction: column;

    & span {
      display: inline-block;
    }
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 12px;

  font-style: normal;
}

.viber,
.whatsapp {
  & svg {
    fill: $textLightColor;
    stroke: none;
  }
}

.privacy {
  width: 100%;
  text-align: center;

  @media screen and (min-width: $laptop) {
    width: auto;
  }
}
