@import "../../../app/variables";

.headerBottomWrapper {
  background-color: $cardBgColor;
  @include sectionSidePadding;
}

.headerBottom {
  height: 58px;
  color: $textDarkColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;

  @media screen and (min-width: $tablet) {
    font-size: 20px;
  }
}

.nav {
  display: flex;
  gap: 24px;
}