@import "../../../app/variables";

.btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;

  & svg {
    width: 100%;
    height: 100%;

    stroke: $textDarkColor;
  }

  @media screen and (min-width: $tablet) {
    width: 32px;
    height: 32px;
  }

  @media screen and (min-width: $laptop) {
    display: none;
  }
}

// btn hover
.btn {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 2px;

  &:hover,
  &:focus {
    box-shadow: inset -2px 2px 8px rgba(56, 75, 94, 0.5);
    padding: 6px;

    & svg {
      animation: rotateBtn 500ms linear forwards;
    }
  }
}

@keyframes rotateBtn {
  to {
    transform: rotate(180deg);
  }
}