@import "../../../app/variables";

.btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;

  & svg {
    width: 100%;
    height: 100%;

    stroke: $textDarkColor;
  }

  @media screen and (min-width: $tablet) {
    width: 32px;
    height: 32px;
  }

  @media screen and (min-width: $laptop) {
    display: none;
  }
}

// btn hover
.btn {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 2px;
  &:hover {
    box-shadow: inset -2px 2px 8px rgba(56, 75, 94, 0.5);
    padding: 6px;

    & svg {
      animation: rotateBtn 500ms linear forwards;
    }
  }
}

@keyframes rotateBtn {
  to {
    transform: rotate(180deg);
  }
}

// another one btn hover

// .btn {
//   position: relative;
//   overflow: hidden;
//   &::before {
//     position: absolute;
//     content: "";
//     width: 100%;
//     height: 100%;

//     top: -100%;
//     background-image: -webkit-linear-gradient(
//       90deg,
//       rgba(230, 234, 240, 0) 20%,
//       rgba(230, 234, 240, 1) 50%,
//       rgba(230, 234, 240, 0) 80%,
//       rgba(230, 234, 240, 0) 100%
//     );
//   }
// }

// .btn:hover,
// .btn:focus {
//   &::before {
//     // animation: burgerHover 2s steps(8) forwards;
//     animation: burgerHover 2s linear forwards;
//   }
// }

// @keyframes burgerHover {
//   to {
//     top: 100%;
//   }
// }
