@import "../../app/variables";

.section {
    padding: 20px 0px;

    @media screen and (min-width: 360px) {
        padding: 20px;
    }

    @media screen and (min-width: $tablet) {
        padding: 20px 40px 32px;
    }

    @media screen and (min-width: $laptop) {
        padding: 32px 28px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;

    @media screen and (min-width: $tablet) {
        width: 460px;
        row-gap: 20px;
    }

    @media screen and (min-width: $laptop) {
        width: 100%;
        row-gap: 24px;
    }
}

.title {
    @include sectionTitle;

    padding: 0px 20px;
    font-size: 21px;

    @media screen and (min-width: 334px) {
        padding: 0px;
        font-size: 22px;
    }

    @media screen and (min-width: 360px) {
        padding: 0px;
    }
}

.citiesWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    padding: 0px 2px;

    @media screen and (min-width: 360px) {
        width: calc(100vw - 40px);
    }

    @media screen and (min-width: 380px) {
        width: 340px;
    }

    @media screen and (min-width: $tablet) {
        width: 100%;
        padding: 0px;
    }

    @media screen and (min-width: $laptop) {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.cityItem {
    width: 100%;
    font-size: 14px;

    @media screen and (min-width: $tablet) {
        font-size: 18px;
    }

    @media screen and (min-width: $laptop) {
        max-width: 470px;
    }
}

.locationLink {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 3px;

    @media screen and (min-width: $tablet) {
        column-gap: 0px;
    }
}

.country {
    width: 165px;

    @media screen and (min-width: $tablet) {
        width: 212px;
    }

    @media screen and (min-width: $laptop) {
        width: 274px;
    }
}

.city {
    width: 148px;
    position: relative;

    @media screen and (min-width: $tablet) {
        width: 230px;
        padding-left: 40px;
    }

    @media screen and (min-width: $laptop) {
        width: 264px;
    }
}

.city::before {
    content: '';
    background-image: url(/svgs/nav-arrow.svg);
    width: 12px;
    height: 12px;
    position: absolute;
    background-size: cover;
    left: -10px;
    rotate: 270deg;

    @media screen and (min-width: 380px) {
        width: 14px;
        height: 14px;
        left: -14px;
    }

    @media screen and (min-width: $tablet) {
        width: 24px;
        height: 24px;
        left: 0px;
    }
}

.modalBtn {
    width: calc(100% - 40px);

    @media screen and (min-width: $tablet) {
        width: 100%;
    }
}